body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 0.28rem !important;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html, body {
  height: 100%;
}

p {
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
}

img {
  width: 95%;
  margin: 0 2.5%;
}

pre {
  line-height: 1.25;
  overflow-x: scroll;
  background-color: #f6f6f6;
  color: #657b83;
  padding: .1rem;
}

::-webkit-scrollbar { 
  display: none; 
}

.am-list-footer {
  padding: 0 !important;
}

.mainpageTab .am-tabs-tab {
  background-color: #3a40f5 !important;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: .25rem !important;
}

.mainpageTab .am-tabs-tab-active {
  color: rgb(255, 255, 255) !important;
}

.mainpageTab .am-tabs-ink-bar {
  background-color: rgb(255, 255, 255) !important;
}

.am-card-body {
  border-top: transparent !important;
}
.am-card,
.am-navbar {
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

.am-card {
  border: none !important;
}

.am-navbar-dark {
  background-color: #3a40f5 !important;
}

.am-list-body {
  background-color: inherit !important;
}

.am-icon-md {
  height: 0.56rem !important;
  width: 0.56rem !important;
}