body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 24px;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  transform: translate3d();
}

p {
  margin: 0;
}

img {
  width: 95%;
  margin: 0 2.5%;
}

pre {
  line-height: 1.25;
  overflow-x: scroll;
}